/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app/notes/page.js","import":"Press_Start_2P","arguments":[{"subsets":["latin"],"weight":["400"]}],"variableName":"press"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Press_Start_2P_b676d4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/60c1b9efbca49fe9-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Press_Start_2P_b676d4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/31dd38bdb4daced8-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: '__Press_Start_2P_b676d4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3511decdf5d10790-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: '__Press_Start_2P_b676d4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/999f4d94c8b14f83-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Press_Start_2P_b676d4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/9b8c15de1de72117-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Press_Start_2P_Fallback_b676d4';src: local("Arial");ascent-override: 44.14%;descent-override: 0.00%;line-gap-override: 0.00%;size-adjust: 226.55%
}.__className_b676d4 {font-family: '__Press_Start_2P_b676d4', '__Press_Start_2P_Fallback_b676d4';font-weight: 400;font-style: normal
}

